:root {
  font-family: udmincho,ms mincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #ffffff;
  }
}
